.singleSnippetsPeek {
    position: fixed;
    top: 0;
    left: 0;
    height: 99vh;
    width: 98vw;
    margin: auto;
    // background-color: rgba(0, 0, 0, 0.507);
    // filter: blur(8px);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    > div {
        width: 1000px;
        max-width: 90%;
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 95vh;
        border: 1px solid rgba(255, 255, 255, 0.345);
        border-radius: 5px;
    }
}
