@font-face {
  font-family: "Charlie don't surf!";
  src: url("Charliedontsurf.woff2") format("woff2"),
    url("Charliedontsurf.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
