.singleSnippetsCode {
    border-radius: 5px;
    width: 100%;
    background: #2e3440;
    height: fit-content;
    > .singleSnippetsCode__header {
        padding: 7px 0;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.203);
        > p {
            margin-left: 20px;
            color: white;
            text-transform: capitalize;
            font-size: 1.2rem;
        }
    }
}
