.maintenance {
  text-align: center;
  height: 100vh;
  flex-direction: column;
  width: 100vw;
  background-color: #f6fbff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  position: absolute;
  top: 10px;
  left: 15px;
  color: #004f90;
}
.logo > h1 {
  font-size: 2.5rem;
}
.content {
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.maintenance__btn {
  position: absolute;
  right: 10px;
  top: 10px;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
